header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 18px;

    h1 {
        font-size: 15px;
    }
}

@media (min-width: 25em) {
    header h1 {
        font-size: 20px;
    }
}