html {
  overflow-x:                hidden;
  max-width:                 100%;
  scroll-behavior:           smooth; 
  background-color:          white
}

* {
  margin:                    0;
  padding:                   0;
  min-width:                 0;
  box-sizing:                border-box;
}

body {
    min-width: 375px;
    font-family: sans-serif;
    font-style: Regular;
    vertical-align: middle;
    font-size: 20px;
    background-color: hsl(43, 20%, 93%);
}

ul,
ol {
  list-style:none;
}

a {
  color:inherit;
}